body{
  background-color: pink;
}
@media screen and (min-width: 500px){
  legend {
    font-size: 5px;
    font-weight: bold;
  }
  form {
    width:80%;
    text-align: center;
    background-color: white;
  }
  label{
    display: block;
    text-align: center;
    font-size: 1.5em;
    float: left;
  }
  input {
    display: block;
    text-align: center;
    width: 95%;
  }
  #submitbutton {
    text-align: center;
    background-color: grey;
    color: black;
    width: fit-content;
  }
}


@media screen and (min-width: 1000px){
  form {
    width: 700px;
  }
  legend {
    font-size: 10px;
  }
  label{
    font-size: 10px;
  }
  #submitbutton {
    font-size: 5px;
  }
}
